.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.bg-dark-elements {
  --tw-bg-opacity: 1;
  background-color: rgb(31 31 31 / var(--tw-bg-opacity));
}

.text-prompt {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.02rem;
  font-weight: 300;
}

.test-primary-button {
  background: linear-gradient(
    90deg,
    rgba(221, 0, 172, 1) 0%,
    rgba(63, 56, 131, 1) 100%
  );
  transition: all 0.3s ease-in-out !important;
  border-radius: 35px;
  height: 50px;
  width: 160px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: Kanit;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.primary-button {
  background-size: 200% auto !important;
  background-image: linear-gradient(
    81.02deg,
    #fa5560 -53.47%,
    #b14bf4 25.52%,
    #4d91ff 64.8%
  ) !important;
  transition: all 0.3s ease-in-out !important;
  font-size: medium;
  font-weight: 550;
  color: white;
  transition: all 1s ease-in-out;
  border-radius: 10px;
  height: 40px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-link {
  background-size: 200% auto !important;
  background: radial-gradient(
    circle,
    rgba(92, 83, 179, 1) 0%,
    rgba(236, 21, 188, 1) 100%
  );
  transition: all 0.3s ease-in-out !important;
  transition: all 1s ease-in-out;
  height: 61px;
}

.primary-link:hover {
  background-position: 90% center !important;
  cursor: pointer;
}

.button-color {
  background-size: 200% auto !important;
  background-image: linear-gradient(
    81.02deg,
    #fa5560 -53.47%,
    #b14bf4 25.52%,
    #4d91ff 64.8%
  ) !important;
  transition: all 0.3s ease-in-out !important;
}

.gradient-menu-text {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: -webkit-linear-gradient(
    90deg,
    rgba(208, 208, 208, 1) 0%,
    rgba(208, 208, 208, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 25px;

  /* For browsers that do not support the above properties */
  background-clip: text;
  color: transparent;
  display: inline-block;
  /* Required to apply gradients to inline elements like span or a */
}

.gradient-menu-text.active {
  background: -webkit-linear-gradient(
    90deg,
    rgba(236, 21, 188, 1) 0%,
    rgba(92, 83, 179, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
  display: inline-block;
  position: relative;
}

.gradient-menu-text:hover {
  background: -webkit-linear-gradient(
    90deg,
    rgba(236, 21, 188, 1) 0%,
    rgba(92, 83, 179, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
  transition: all 0.3s ease-in-out;
}

.gradient-menu-text.active .selected-polygon {
  position: absolute;
  width: 16px;
  height: 14px;
  border-radius: 3px;
  background: linear-gradient(
    90deg,
    rgba(221, 0, 172, 1) 0%,
    rgba(63, 56, 131, 1) 100%
  );
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  top: 40px;
}

.button-color:hover {
  background-position: 60% center !important;
  cursor: pointer;
}

.primary-button:hover {
  background-position: 60% center !important;
  cursor: pointer;
}

.test-primary-button:hover {
  background: radial-gradient(
    circle,
    rgba(236, 21, 188, 1) 0%,
    rgba(92, 83, 179, 1) 100%
  );
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.gradient-bg {
  background: linear-gradient(
    90deg,
    rgba(221, 0, 172, 1) 0%,
    rgba(63, 56, 131, 1) 100%
  );
}
.dashboard-bg {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-bg::before {
  content: "";
  position: absolute;
  /* background-image: url("../public/assets/characters/01.jpg"); */
  height: 100vh;
  opacity: 0.3;
  width: 80%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.background-board {
  background-image: url("../public/assets/characters/background.jpg");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.tab-border {
  border-image-source: linear-gradient(
    81.02deg,
    rgb(250, 85, 96) -23.47%,
    rgb(177, 75, 244) 45.52%,
    rgb(77, 145, 255) 114.8%
  );
  border-image-slice: 1;
  border-bottom-color: rgb(114, 88, 242);
}

.color-text {
  font-weight: 500;
  background: linear-gradient(
      81.02deg,
      rgb(250, 85, 96) -23.49%,
      rgb(177, 75, 244) 45.66%,
      rgb(77, 145, 255) 114.8%
    )
    text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.separator {
  opacity: 0.6;
  border-width: 0px 0px 1px;
  border-image: initial;
  border-color: var(--leonardo-ai-colors-old-greyblue);
  border-style: solid;
  width: 100%;
  background: rgba(255, 255, 255, 0.16);
}

.search-panel {
  display: flex;
  position: relative;
  isolation: isolate;
  -webkit-box-align: center;
  align-items: center;
}

.search-icon {
  left: 0px;
  width: 32px;
  height: 32px;
  font-size: 14px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.search-input {
  min-width: 0px;
  outline: transparent solid 2px;
  outline-offset: 2px;
  position: relative;
  appearance: none;
  transition-property: all;
  transition-duration: 0.2s;
  font-size: 14px;
  padding-inline-start: 32px;
  padding-inline-end: 12px;
  height: 32px;
  border-radius: 6px;
  border-width: calc(0.125rem);
  border-style: solid;
  border-image: initial;
  border-color: transparent;
  padding-bottom: 2px;
  width: 100%;
  color: rgb(255, 255, 255);
  background: rgb(26, 26, 26);
}

.search-input:focus-visible {
  background: transparent;
  border-color: rgb(114, 88, 242);
}

.search-button {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  position: relative;
  vertical-align: middle;
  outline-offset: 2px;
  line-height: calc(1.25rem);
  font-weight: 400;
  font-size: calc(0.75rem);
  padding-inline-start: 32px;
  padding-inline-end: 32px;
  box-sizing: border-box;
  box-shadow: rgba(143, 0, 255, 0) 0px 0px calc(0.9375rem);
  margin-left: 1rem;
  height: 100%;
  width: 100px;
  white-space: nowrap;
  outline: transparent solid 2px;
  border-radius: calc(0.5rem);
  border-width: calc(0.3125rem);
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  background: linear-gradient(rgb(32, 33, 37), rgb(32, 33, 37)) no-repeat
      padding-box,
    linear-gradient(
        81.02deg,
        rgb(250, 85, 96) -23.47%,
        rgb(177, 75, 244) 45.52%,
        rgb(77, 145, 255) 114.8%
      )
      border-box;
  transition: all 0.1s ease 0s;
}

.search-button::before {
  content: "";
  position: absolute;
  top: calc(-0.1875rem);
  right: calc(-0.1875rem);
  bottom: calc(-0.1875rem);
  left: calc(-0.1875rem);
  margin: calc(-0.0625rem);
  border-width: calc(0.3125rem);
  border-style: solid;
  border-color: rgb(32, 33, 37);
  border-image: initial;
  border-radius: calc(0.5rem);
}

.search-button:hover {
  box-shadow: rgba(143, 0, 255, 0.6) 0px 0px calc(0.9375rem);
  background: linear-gradient(rgb(38, 39, 44), rgb(38, 39, 44)) no-repeat
      padding-box,
    linear-gradient(
        81.02deg,
        rgb(250, 85, 96) -23.47%,
        rgb(177, 75, 244) 45.52%,
        rgb(77, 145, 255) 114.8%
      )
      border-box;
  border-width: calc(0.3125rem);
  border-style: solid;
  border-color: transparent;
  border-image: initial;
}

.button-group {
  background-color: rgb(12, 15, 22);
  border-radius: calc(0.5rem);
  overflow: hidden;
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.button-element {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  line-height: calc(1.25rem);
  border-radius: calc(0.3125rem);
  font-weight: 400;
  transition-property: all;
  transition-duration: 0.2s;
  height: calc(1.875rem);
  padding-inline-start: 2rem;
  padding-inline-end: calc(0.25rem);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: calc(0.188rem);
  min-width: calc(4.5rem);
  width: 100%;
  font-size: calc(0.688rem);
  color: #a0aec0;
}

.button-icon {
  display: inline-flex;
  align-self: center;
  flex-shrink: 0;
  margin-inline-end: calc(0.25rem);
}

.button-title {
  position: relative;
  z-index: 2;
}

.button-selected {
  transform: none;
  transform-origin: 50% 50% 0px;
  opacity: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    81.02deg,
    rgb(250, 85, 96) -23.47%,
    rgb(177, 75, 244) 45.52%,
    rgb(77, 145, 255) 114.8%
  );
  top: 0px;
  left: 0px;
  border-radius: calc(0.5rem);
}

.button-item {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  line-height: calc(1.25rem);
  border-radius: calc(0.3125rem);
  font-weight: 400;
  transition-property: transform;
  transition-duration: 0.2s;
  height: 2rem;
  padding-inline-start: 2rem;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  color: #fff;
  padding-left: calc(1rem);
  padding-inline-end: calc(1rem);
  min-width: calc(7.25rem);
  font-size: calc(0.75rem);
}

.button-item.active .button-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    81.02deg,
    rgb(250, 85, 96) -23.47%,
    rgb(177, 75, 244) 45.52%,
    rgb(77, 145, 255) 114.8%
  );
  top: 0px;
  left: 0px;
  border-radius: calc(0.5rem);
  transform: none;
  transform-origin: 50% 50% 0px;
  opacity: 1;
  right: 100%;
  transition: transform 0.5s ease-in-out;
}

.button-item.active .button-font {
  color: white;
}

.button-font {
  color: #a7b2c1;
}

.textarea-prompt {
  width: 100%;
  min-width: 0px;
  position: relative;
  appearance: none;
  transition-duration: 0.2s;
  padding-top: 14px;
  padding-bottom: 14px;
  vertical-align: top;
  color: rgb(151, 151, 151);
  outline: transparent solid;
  font-size: 20px;
  border-style: solid;
  border-image: initial;
  border-color: transparent;
  border-width: 2px;
  background: rgb(16, 22, 34);
  border-radius: 8px;
  line-height: 120%;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  margin-left: 0px;
  flex: 1 1 0%;
}

.textarea-prompt:focus-visible {
  background: transparent;
  border-color: rgb(114, 88, 242);
}

.textarea-prompt:hover {
  background: rgb(11, 15, 23);
}

.button-prompt {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  line-height: calc(1.5rem);
  border-radius: 8px;
  font-weight: 500;
  transition-property: all;
  transition-duration: 0.2s;
  min-width: 40px;
  font-size: calc(0.875rem);
  padding-inline-start: 48px;
  padding-inline-end: 48px;
  padding: 0px;
  width: 56px;
  height: 56px;
  background: rgb(16, 22, 34);
}

.button-prompt:hover {
  background-color: rgba(255, 255, 255, 0.16);
}

.button-prompt:focus-visible {
  box-shadow: 0 0 0 calc(1rem * 0.0625) #9a5cf7;
}

.toggle-checkbox:checked {
  @apply: right-0 border-green-400;
  right: 2px;
  border-color: #68d391;
}

.toggle-checkbox:checked + .toggle-label {
  @apply: bg-green-400;
  background-image: linear-gradient(
    81.02deg,
    rgb(250, 85, 96) -23.49%,
    rgb(177, 75, 244) 45.66%,
    rgb(77, 145, 255) 114.8%
  );
}

.image-board {
  display: grid;
  margin-bottom: 16px;
  grid-row-gap: 10px;
  grid-column-gap: 8px;
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.image-radio {
  /* border: 0px;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0px;
  overflow: hidden;
  white-space: nowrap;
  position: absolute; */
  display: none;
}

.image-radio-board {
  text-align: center;
  cursor: pointer;
  opacity: 1;
  box-shadow: none;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: calc(0.312rem);
  width: auto;
  font-size: calc(0.75rem);
  color: rgb(255, 255, 255);
  font-weight: 600;
  background: rgb(11, 15, 23);
  border: calc(0.04375rem) solid rgb(36, 44, 62);
}

.image-radio-checked {
  background: rgba(30, 22, 68, 0.4);
  border: calc(0.04375rem) solid rgb(114, 88, 242);
}

.primary-box {
  border-radius: calc(0.5rem);
  background-color: rgb(16, 22, 34);
  padding: calc(0.5rem) calc(0.5rem) calc(0.5rem) calc(0.625rem);
  margin-bottom: 12px;
  cursor: pointer;
  border: calc(0.05rem) solid rgb(36, 44, 62);
}

.button-generate {
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  line-height: calc(1.5rem);
  border-radius: 8px;
  font-weight: 400;
  transition-property: all;
  transition-duration: 0.2s;
  min-width: 40px;
  font-size: calc(0.875rem);
  padding-inline-start: 48px;
  padding-inline-end: 48px;
  background: linear-gradient(
    122deg,
    rgb(250, 85, 96) 0.01%,
    rgb(177, 75, 244) 49.9%,
    rgb(77, 145, 255) 100%
  );
  position: relative;
  cursor: pointer;
  height: 56px;
  display: none;
  margin-left: 1rem;
  display: block;
}

.button-close {
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  line-height: calc(1.5rem);
  border-radius: 8px;
  font-weight: 400;
  transition-property: all;
  transition-duration: 0.2s;
  min-width: 40px;
  font-size: calc(0.875rem);
  padding-inline-start: 48px;
  padding-inline-end: 48px;
  position: relative;
  cursor: pointer;
  height: 56px;
  display: none;
  margin-left: 1rem;
  display: block;
}

.button-generate:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  box-shadow: var(--leonardo-ai-shadows-none);
  background: linear-gradient(
    122deg,
    rgb(78, 78, 78) 0.01%,
    rgb(117, 117, 117) 49.9%,
    rgb(154, 154, 154) 100%
  );
}

.button-model {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  user-select: none;
  position: relative;
  vertical-align: middle;
  outline-offset: 2px;
  line-height: calc(1.5rem);
  font-weight: 500;
  transition-property: all;
  transition-duration: 0.2s;
  height: 56px;
  font-size: calc(0.875rem);
  padding-inline-start: 48px;
  padding-inline-end: 14px;
  -webkit-box-pack: start;
  justify-content: flex-start;
  padding-left: 14px;
  white-space: nowrap;
  outline: transparent solid 2px;
  border-radius: 8px;
  background: rgb(16, 22, 34);
  border-width: calc(0.0625rem);
  border-style: solid;
  border-image: initial;
}

.model-dropdownmenu {
  min-width: max-content;
  --popper-transform-origin: top left;
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate(0px, 58px) !important;
  z-index: 10;
}

.dropdown-more-param {
  transform: translate(-150px, 35px) !important;
}

.model-menu-board {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  width: auto;
  border: calc(0.0625rem) solid rgb(36, 44, 62);
  border-radius: 6px;
  overflow: hidden;
}

.style-menu-board {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #000;
  width: auto;
  border-width: calc(0.0625rem);
  border-style: solid;
  border-image: initial;
  border-color: #2f3037;
  border-radius: 6px;
  overflow: hidden;
}

.model-visible {
  transform-origin: var(--popper-transform-origin);
  opacity: 1;
  visibility: visible;
  transform: none;
}

.model-invisible {
  transform-origin: var(--popper-transform-origin);
  display: none;
  visibility: hidden;
  transform: scale(0.95) translateZ(0px);
}

.model-item {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  line-height: calc(1.5rem);
  border-radius: 0px;
  font-weight: 500;
  transition-property: all;
  transition-duration: 0.2s;
  height: calc(2.5rem);
  min-width: 40px;
  font-size: calc(0.875rem);
  padding-inline-start: 48px;
  padding-inline-end: 48px;
  background-color: rgb(11, 15, 23);
  padding-left: calc(0.625rem);
  padding-right: calc(0.625rem);
  border-bottom: calc(0.0313rem) solid rgb(36, 44, 62);
  gap: calc(0.5rem);
  color: rgb(255, 255, 255);
}

.rounded-text-panel {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.34);
  border-radius: calc(1.25rem);
  font-weight: 600;
  color: #fff;
  font-size: calc(0.6875rem);
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 8px;
}

.style-item {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  line-height: calc(1.5rem);
  font-weight: 500;
  transition-property: all;
  transition-duration: 0.2s;
  height: calc(2.5rem);
  min-width: 40px;
  font-size: calc(0.875rem);
  background: #ffffff14;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  width: 192px;
  border-radius: 0px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

#walletConnect button {
  background-color: #ff31f8;
  background-image: linear-gradient(150deg, rgba(0, 0, 0, 0), #0751bf);
  transition: background-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  font-family: "Chakra Petch", sans-serif;
  font-size: medium;
  font-weight: 550;
  color: white;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  height: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#walletConnect button:hover {
  background-position: 60% center !important;
  cursor: pointer;
}

#walletConnect .ju367vck {
  border-color: transparent !important;
}

.modal {
  position: relative;
  border: none;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6); */
  animation: fade-slide-up 0.3s ease-out forwards;
  border-radius: 8px;
}

@media (max-width: 500px) {
  .modal {
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
    min-width: 100%;
  }
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(20px);
}

@keyframes fade-slide-up {
  from {
    opacity: 0;
    transform: translateY(4rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.popup-container .close-button {
  position: absolute;
  z-index: 100;
  outline: none;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  margin-left: 20px;
  padding-top: 20px;
}

.popup-container .close-button img {
  height: 20px;
  width: 20px;
}

.button-detail {
  background-color: #171717;
  color: white;
}

.button-detail:hover {
  background: linear-gradient(
    81.02deg,
    rgb(250, 85, 96) -23.47%,
    rgb(177, 75, 244) 45.52%,
    rgb(77, 145, 255) 114.8%
  );
  color: white;
}

.button-color {
  background: linear-gradient(
    122deg,
    rgb(250, 85, 96) 0.01%,
    rgb(177, 75, 244) 49.9%,
    rgb(77, 145, 255) 100%
  );
}

.button-color:hover {
  box-shadow: rgba(161, 128, 255, 0.6) 0px 0px calc(1rem) 0px;
  animation-timing-function: ease-out;
  animation-duration: 200ms;
}

.item-bg {
  background-color: #1c1c1c;
}

.item-bg:hover {
  background-color: #393b45;
}

.hover-ground {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.79));
}

.inherit-aspect-ratio {
  aspect-ratio: inherit;
}

.css-187mznn-MuiSlider-root {
  color: #ff31f8 !important;
}

.hide-scrollbar {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.border-textarea {
  border-color: #2f3037;
}

.border-textarea:focus-visible {
  border-color: #9a5cf7 !important;
}

.gradient-text {
  background: linear-gradient(
      81.02deg,
      rgb(250, 85, 96) -23.49%,
      rgb(177, 75, 244) 45.66%,
      rgb(77, 145, 255) 114.8%
    )
    text;
  color: transparent;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
}

.nav-filter {
  list-style: none;
  padding-left: 0;
}

.nav-filter li {
  margin: 0.5rem;
  transition: all 0.15s ease-in-out;
  text-align: center;
  border-radius: 50px;
  border: 1px solid var(--border-blue, #242c3e);
  color: #fff;
}

.nav-filter li.active {
  background: var(
    --gradient-primary-gradient-leonardo,
    linear-gradient(81deg, #fa5560 -23.47%, #b14bf4 45.52%, #4d91ff 114.8%)
  );
}

.nav-filter li.active:hover {
  background: var(
    --gradient-primary-gradient-leonardo,
    linear-gradient(81deg, #fa5560 -23.47%, #b14bf4 45.52%, #4d91ff 114.8%)
  );
}

.nav-filter li:hover {
  border: 1px solid var(--border-blue, #242c3e);
  background: var(--background-hover-50, #131926);
}

.nav-filter li button {
  display: inline-block;
  padding: 0.65rem 1.2rem;
  min-width: 160px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

.overlay-loader {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  position: absolute;
  width: 100%;
  z-index: 5;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -40px;
}

.overlay-loader svg {
  width: 120px;
  height: 120px;
}

.blog_item_color {
  color: #6b66ff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.contact-board {
  background-color: #060c0e;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: scroll;
  background-size: auto;
  background-blend-mode: color-dodge !important;
}

.contact-board::before {
  content: "";
  position: absolute;
  background: url(../public/assets/img/Group-1000001732.png);
  width: 1328px;
  height: 790px;
  left: calc(50% + 50px);
  bottom: 0px;
  transform: translateX(-50%);
  z-index: 9;
}

@media screen and (max-width: 767px) {
  .contact-board::before {
    background-size: 265% auto !important;
    background-position: center !important;
    left: 0 !important;
    bottom: 90px !important;
    width: 100% !important;
    transform: none !important;
    background-repeat: no-repeat !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contact-board::before {
    background-size: 115% auto !important;
    background-repeat: no-repeat !important;
    background-position: left center !important;
    left: 0px !important;
    transform: none !important;
    bottom: -13px !important;
    width: 100% !important;
  }
}

.adrestus-color {
  background: linear-gradient(
    90.24deg,
    #38c8ed 4.13%,
    #45dfac 55.95%,
    #23afa5 104.62%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  position: relative;
  z-index: 99;
}

.filter-blur {
  filter: blur(3px);
}

.colorBtn {
  background: linear-gradient(
    90.24deg,
    #38c8ed 4.13%,
    #3ffde0 55.95%,
    #23afa5 104.62%
  ) !important;
  border-radius: 33px;
  background-size: 200% auto !important;
  background-position: left center !important;
  transition: all 0.2s ease !important;
}

.colorBtn:hover {
  background-position: right center !important;
}

.login-button {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  line-height: calc(1.5rem);
  border-radius: calc(0.25rem);
  transition-property: var(--leonardo-ai-transition-property-common);
  transition-duration: var(--leonardo-ai-transition-duration-normal);
  height: calc(2.5rem);
  min-width: var(--leonardo-ai-sizes-10);
  font-size: calc(0.875rem);
  color: var(--leonardo-ai-colors-whiteAlpha-900);
  width: 100%;
  font-weight: 300;
  padding-inline: calc(1.125rem);
  padding-top: calc(1.375rem);
  padding-bottom: calc(1.375rem);
  background: rgb(38, 39, 44);
  -webkit-box-pack: start;
  justify-content: flex-start;
  gap: 10px;
}

#google_login > div {
  width: 100%;
}

.login-button:hover {
  background: #ffffff29;
}

.grid-template-hashtag {
  grid-template-areas: "explore divider type divider2 categories";
  -webkit-box-pack: start;
}

.grid-explore {
  grid-area: explore;
}

.grid-divider {
  grid-area: divider;
}

.grid-type {
  grid-area: type;
}

.grid-divider2 {
  grid-area: divider2;
}

.grid-categoreis {
  grid-area: categories;
}

.sort-button {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  line-height: calc(1.5rem);
  border-radius: calc(0.3125rem);
  transition-property: transform;
  transition-duration: 200ms;
  height: calc(2.5rem);
  padding-inline: calc(0.188rem) calc(0.25rem);
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  min-width: 64px;
  color: #a0aec0;
}

.sort-button-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    81.02deg,
    rgb(250, 85, 96) -23.47%,
    rgb(177, 75, 244) 45.52%,
    rgb(77, 145, 255) 114.8%
  );
  border-radius: 9999px;
}

.selected {
  transform: translateY(0%) translateZ(0px);
  transform-origin: 50% 50% 0px;
  opacity: 1;
}

.hashtag-board {
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

.hashtag-button {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  line-height: calc(1.5rem);
  border-radius: 9999px;
  font-weight: 600;
  height: calc(2.5rem);
  padding: 0px 20px;
  box-sizing: border-box;
  width: max-content;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(16, 22, 34);
  background: linear-gradient(rgb(16, 22, 34), rgb(16, 22, 34)) border-box
    border-box;
  box-shadow: rgba(145, 0, 255, 0) 0px 0px 1rem;
  transition: all 0.3s ease 0s;
}

.selected-color {
  background-size: 200% auto !important;
  background-image: linear-gradient(
    81.02deg,
    #fa5560 -53.47%,
    #b14bf4 25.52%,
    #4d91ff 64.8%
  ) !important;
}

.hashtag-button:hover {
  border-color: transparent;
  background: linear-gradient(rgb(16, 22, 34), rgb(16, 22, 34)) padding-box
      padding-box,
    linear-gradient(
        81.02deg,
        rgb(250, 85, 96) -23.47%,
        rgb(177, 75, 244) 45.52%,
        rgb(77, 145, 255) 114.8%
      )
      border-box border-box;
  box-shadow: rgba(145, 0, 255, 0.6) 0px 0px 1rem;
}

#hashtagbutton-group::-webkit-scrollbar {
  display: none;
}

.lock-button {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  line-height: calc(1.5rem);
  border-radius: 6px;
  font-weight: 600px;
  transition-property: all;
  transition-duration: 0.2s;
  height: calc(2.5rem);
  min-width: 40px;
  font-size: calc(0.875rem);
  padding-inline-start: 12px;
  padding-inline-end: 12px;
  color: rgba(255, 255, 255, 0.92);
  padding: 0px;
  border: calc(0.04375rem) solid rgb(36, 44, 62);
  background: rgb(16, 22, 34);
}

.lock-button:hover {
  background: rgba(255, 255, 255, 0.16);
}

.select-ratio {
  padding-inline-end: 2rem;
  width: 100%;
  height: 40px;
  padding-inline-start: 1rem;
  border-radius: 6px;
  min-width: 0px;
  outline: transparent solid 2px;
  outline-offset: 2px;
  position: relative;
  appearance: none;
  transition-property: all;
  transition-duration: 0.2s;
  padding-bottom: 1px;
  line-height: normal;
  background-image: inherit;
  background-position: inherit;
  background-size: inherit;
  background-repeat: inherit;
  background-attachment: inherit;
  background-origin: inherit;
  background-clip: inherit;
  --select-bg: var(--leonardo-ai-colors-white);
  --input-font-size: var(--leonardo-ai-fontSizes-md);
  --input-padding: var(--leonardo-ai-space-4);
  --input-border-radius: var(--leonardo-ai-radii-md);
  --input-height: var(--leonardo-ai-sizes-10);
  border: 1px solid rgb(36, 44, 62);
  font-size: calc(0.75rem);
  font-weight: 600;
  background-color: rgb(16, 22, 34) !important;
}

.select-ratio:focus-visible {
  z-index: 1;
  border-color: rgb(99, 179, 237);
  box-shadow: rgb(99, 179, 237) 0px 0px 0px 1px;
}

.input-ratio {
  width: 100%;
  height: 40px;
  min-width: 100px;
  outline: transparent solid 2px;
  outline-offset: 2px;
  position: relative;
  appearance: none;
  transition-property: all;
  transition-duration: 0.2s;
  --input-font-size: var(--leonardo-ai-fontSizes-sm);
  --input-padding: 12px;
  --input-border-radius: 2px;
  --input-height: 32px;
  border-width: calc(0.125rem);
  border-style: solid;
  border-image: initial;
  border-color: transparent;
  border-radius: calc(0.312rem);
  padding-top: 16px;
  padding-bottom: 16px;
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
  text-align: center;
  background: rgb(11, 15, 23);
  color: rgb(255, 255, 255);
}

.vector-background {
  z-index: 5;
  position: relative;
  background-image: url("/public/assets/img/Vector.png");
}

.gradient-bg {
  background: linear-gradient(
    90deg,
    rgba(221, 0, 172, 1) 0%,
    rgba(63, 56, 131, 1) 100%
  );
}

.control-dots {
  text-align: left !important;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: #000000 !important;
  width: 15px !important;
  height: 15px !important;
}

.gradient-text {
  background: linear-gradient(99deg, #dd00ac -10.83%, #7064e9 132.7%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;
  font-family: Kanit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.gradient-text1 {
  background: linear-gradient(99deg, #dd00ac -10.83%, #7064e9 132.7%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-align: right;
  font-family: Kanit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
