.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-dark-elements {
  --tw-bg-opacity: 1;
  background-color: rgb(31 31 31 / var(--tw-bg-opacity));
}
.text-prompt {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.02rem;
  font-weight: 300;
}

.primary-button {
  background-size: 200% auto !important;
  background-image: linear-gradient(
    81.02deg,
    #fa5560 -53.47%,
    #b14bf4 25.52%,
    #4d91ff 64.8%
  ) !important;
  transition: all 0.3s ease-in-out !important;
  font-size: medium;
  font-weight: 550;
  color: white;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  height: 40px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-color {
  background-size: 200% auto !important;
  background-image: linear-gradient(
    81.02deg,
    #fa5560 -53.47%,
    #b14bf4 25.52%,
    #4d91ff 64.8%
  ) !important;
  transition: all 0.3s ease-in-out !important;
}
.button-color:hover {
  background-position: 60% center !important;
  cursor: pointer;
}
.primary-button:hover {
  background-position: 60% center !important;
  cursor: pointer;
}

.dashboard-bg {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-bg::before {
  content: "";
  position: absolute;
  /* background-image: url("../public/assets/characters/01.jpg"); */
  height: 100vh;
  opacity: 0.3;
  width: 80%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.background-board {
  background-image: url("../public/assets/characters/background.jpg");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.tab-border {
  border-image-source: linear-gradient(
    81.02deg,
    rgb(250, 85, 96) -23.47%,
    rgb(177, 75, 244) 45.52%,
    rgb(77, 145, 255) 114.8%
  );
  border-image-slice: 1;
  border-bottom-color: rgb(114, 88, 242);
}

.color-text {
  font-weight: 500;
  background: linear-gradient(
      81.02deg,
      rgb(250, 85, 96) -23.49%,
      rgb(177, 75, 244) 45.66%,
      rgb(77, 145, 255) 114.8%
    )
    text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.separator {
  opacity: 0.6;
  border-width: 0px 0px 1px;
  border-image: initial;
  border-color: var(--leonardo-ai-colors-old-greyblue);
  border-style: solid;
  width: 100%;
  background: rgba(255, 255, 255, 0.16);
}

.search-panel {
  display: flex;
  position: relative;
  isolation: isolate;
  -webkit-box-align: center;
  align-items: center;
}

.search-icon {
  left: 0px;
  width: 32px;
  height: 32px;
  font-size: 14px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.search-input {
  min-width: 0px;
  outline: transparent solid 2px;
  outline-offset: 2px;
  position: relative;
  appearance: none;
  transition-property: var(--leonardo-ai-transition-property-common);
  transition-duration: 0.2s;
  font-size: 14px;
  padding-inline-start: 32px;
  padding-inline-end: 12px;
  height: 32px;
  border-radius: 6px;
  border-width: calc(0.125rem);
  border-style: solid;
  border-image: initial;
  border-color: transparent;
  padding-bottom: 2px;
  width: 100%;
  color: rgb(255, 255, 255);
  background: rgb(26, 26, 26);
}

.search-input:focus-visible {
  background: transparent;
  border-color: rgb(114, 88, 242);
}

.search-button {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  position: relative;
  vertical-align: middle;
  outline-offset: 2px;
  line-height: calc(1.25rem);
  font-weight: 400;
  font-size: calc(0.75rem);
  padding-inline-start: var(--leonardo-ai-space-8);
  padding-inline-end: var(--leonardo-ai-space-8);
  box-sizing: border-box;
  box-shadow: rgba(143, 0, 255, 0) 0px 0px calc(0.9375rem);
  margin-left: 1rem;
  height: var(--leonardo-ai-sizes-full);
  width: 100px;
  white-space: nowrap;
  outline: transparent solid 2px;
  border-radius: calc(0.5rem);
  border-width: calc(0.3125rem);
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  background: linear-gradient(rgb(32, 33, 37), rgb(32, 33, 37)) no-repeat
      padding-box,
    linear-gradient(
        81.02deg,
        rgb(250, 85, 96) -23.47%,
        rgb(177, 75, 244) 45.52%,
        rgb(77, 145, 255) 114.8%
      )
      border-box;
  transition: all 0.1s ease 0s;
}

.search-button::before {
  content: "";
  position: absolute;
  top: calc(-0.1875rem);
  right: calc(-0.1875rem);
  bottom: calc(-0.1875rem);
  left: calc(-0.1875rem);
  margin: calc(-0.0625rem);
  border-width: calc(0.3125rem);
  border-style: solid;
  border-color: rgb(32, 33, 37);
  border-image: initial;
  border-radius: calc(0.5rem);
}

.search-button:hover {
  box-shadow: rgba(143, 0, 255, 0.6) 0px 0px calc(0.9375rem);
  background: linear-gradient(rgb(38, 39, 44), rgb(38, 39, 44)) no-repeat
      padding-box,
    linear-gradient(
        81.02deg,
        rgb(250, 85, 96) -23.47%,
        rgb(177, 75, 244) 45.52%,
        rgb(77, 145, 255) 114.8%
      )
      border-box;
  border-width: calc(0.3125rem);
  border-style: solid;
  border-color: transparent;
  border-image: initial;
}

.button-group {
  background-color: rgb(12, 15, 22);
  border-radius: calc(0.5rem);
  overflow: hidden;
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.button-element {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  line-height: calc(1.25rem);
  border-radius: calc(0.3125rem);
  font-weight: 400;
  transition-property: var(--leonardo-ai-transition-property-common);
  transition-duration: 0.2s;
  height: calc(1.875rem);
  padding-inline-start: 2rem;
  padding-inline-end: calc(0.25rem);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: calc(0.188rem);
  min-width: calc(4.5rem);
  width: 100%;
  font-size: calc(0.688rem);
  color: #a0aec0;
}

.button-icon {
  display: inline-flex;
  align-self: center;
  flex-shrink: 0;
  margin-inline-end: calc(0.25rem);
}

.button-title {
  position: relative;
  z-index: 2;
}

.button-selected {
  transform: none;
  transform-origin: 50% 50% 0px;
  opacity: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    81.02deg,
    rgb(250, 85, 96) -23.47%,
    rgb(177, 75, 244) 45.52%,
    rgb(77, 145, 255) 114.8%
  );
  top: 0px;
  left: 0px;
  border-radius: calc(0.5rem);
}

.button-item {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  line-height: calc(1.25rem);
  border-radius: calc(0.3125rem);
  font-weight: 400;
  transition-property: transform;
  transition-duration: 0.2s;
  height: 2rem;
  padding-inline-start: 2rem;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  color: #fff;
  padding-left: calc(1rem);
  padding-inline-end: calc(1rem);
  min-width: calc(7.25rem);
  font-size: calc(0.75rem);
}

.button-item.active .button-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    81.02deg,
    rgb(250, 85, 96) -23.47%,
    rgb(177, 75, 244) 45.52%,
    rgb(77, 145, 255) 114.8%
  );
  top: 0px;
  left: 0px;
  border-radius: calc(0.5rem);
  transform: none;
  transform-origin: 50% 50% 0px;
  opacity: 1;
  right: 100%;
  transition: transform 0.5s ease-in-out;
}

.button-item.active .button-font {
  color: white;
}
.button-font {
  color: #a7b2c1;
}

.textarea-prompt {
  width: 100%;
  min-width: 0px;
  position: relative;
  appearance: none;
  transition-duration: 0.2s;
  padding-top: 14px;
  padding-bottom: 14px;
  min-height: unset;
  vertical-align: top;
  overflow: hidden;
  resize: none;
  height: 56px !important;
  color: rgb(151, 151, 151);
  outline: transparent solid;
  font-size: 20px;
  border-style: solid;
  border-image: initial;
  border-color: transparent;
  border-width: 2px;
  background: rgb(16, 22, 34);
  border-radius: 8px;
  line-height: 120%;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  margin-left: 0px;
  flex: 1 1 0%;
}

.textarea-prompt:focus-visible {
  background: transparent;
  border-color: rgb(114, 88, 242);
}
.textarea-prompt:hover {
  background: rgb(11, 15, 23);
}
.button-prompt {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  line-height: calc(1.5rem);
  border-radius: 8px;
  font-weight: 500;
  transition-property: var(--leonardo-ai-transition-property-common);
  transition-duration: 0.2s;
  min-width: 40px;
  font-size: calc(0.875rem);
  padding-inline-start: 48px;
  padding-inline-end: 48px;
  padding: 0px;
  width: 56px;
  height: 56px;
  background: rgb(16, 22, 34);
}

.button-prompt:hover {
  background-color: rgba(255, 255, 255, 0.16);
}

.button-prompt:focus-visible {
  box-shadow: 0 0 0 calc(1rem * 0.0625) #9a5cf7;
}
